header {
    background-color: #E5E5E5;
    margin-top: 0;
}

nav {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.spisok {
    
    ul {
        display: inline-flex;
        list-style-type: none; 
    }
    
    li {
        font-size: 20px;
        margin-left: 100px;
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline black;
        }
    }

}