header {
    background-color: $color-main ;
    margin-top: 0;
    @include border-bottom(#F4F4F4, 1px);
}

nav {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    background-color: $color-secondary;
    @include border-left-right(3px, #F4F4F4);
}

.spisok {
    width: 100%;
    ul {
        display: inline-flex;
        list-style-type: none; 
        position: relative;
        z-index: 99;
    }
    
    li {
        font-size: 20px;
        margin-left: 100px;
    }

    a {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline black;
        }
    }

}

.text-desc {
    padding-top: 100px;
    @include border-left-right(3px, #F4F4F4);
    position: relative;
    padding-bottom: 250px ;
    h3 {
        font-size: 66px;
        margin: 0;
    }

    h4 {
        font-size: 71px;
        color: $color-red;
        font-weight: 200;
        margin-top: 20px;
        margin-bottom: 0;
    }

    p {
        width: 30%;
        font-size: 16px;
        line-height: 154%;
    }
}

.product-desc {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    .price p {
        font-size: 53px;
    }

    .btn {
        button {
            @extend %button-style;

            a {
                font-size: 18px;
                text-decoration: none;
                color: black;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}


.images {
    .just-do {
        position: absolute;
        top: -130px;
        right:600px;
        z-index: 1;
    }

    .nike-first {
        position: absolute;
        top: -130px;
        right:0px;
        z-index: 2;
    }

    .nike-second {
        position: absolute;
        top: -130px;
        right:0px;
        z-index: 3;
    }
}