html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #E5E5E5;
}


*, *::before, *::after {
    box-sizing: border-box;
}

.container {
   @include container;
    position: relative;
    background-color: #E5E5E5;
}

.row {
    display: inline-flex;
}

.col {
    margin-left: 10px;
}

.text-desc {
    background-color: #EFEFEF;
    padding-left: 100px;
}
