html, body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #EFEFEF;
}


*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 70vw;
    margin: auto;
    position: relative;
}

.row {
    display: inline-flex;
}

.col {
    margin-left: 10px;
}
