@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


@mixin container {
    width: 80vw;
    margin: auto;
}

$color-main :  #E5E5E5;
$color-secondary : #EFEFEF;
$color-red : #B6011A;



@mixin border-left-right($width, $color) {
    border-left: $width $color solid;
    border-right: $width $color solid;
}

@mixin border-bottom($width, $color) {
    border-bottom:$width $color solid;
}

@mixin box-shadow {
    -webkit-box-shadow: 9px 11px 21px 3px rgba(0,0,0,0.25); 
    box-shadow: 9px 11px 21px 3px rgba(0,0,0,0.25);
} 

%button-style {
     padding: 14px 40px;
     background-color: #F6F4F4;
     border-radius: 35px;
     border: none;
     @include box-shadow;
}


