@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$color-main :  #E5E5E5;
$color-secondary : #EFEFEF;
$color-red : #B6011A;

%border-left-right {
    border-left: #F4F4F4 3px solid;
    border-right: #F4F4F4 3px solid;
} 

%button-style {
     padding: 14px 40px;
     background-color: #F6F4F4;
     border-radius: 35px;
     border: none;
     @extend %box-shadow;
}

%box-shadow {
    -webkit-box-shadow: 9px 11px 21px 3px rgba(0,0,0,0.25); 
    box-shadow: 9px 11px 21px 3px rgba(0,0,0,0.25);
}