@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$color-main :  #E5E5E5;
$color-secondary : #EFEFEF;

%border {
    border-left: #F4F4F4 3px solid;
    border-right: #F4F4F4 3px solid;
} 