@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.product-desc .btn button {
  padding: 14px 40px;
  background-color: #F6F4F4;
  border-radius: 35px;
  border: none;
  -webkit-box-shadow: 9px 11px 21px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 9px 11px 21px 3px rgba(0, 0, 0, 0.25);
}

html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: #E5E5E5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  width: 80vw;
  margin: auto;
  position: relative;
  background-color: #E5E5E5;
}

.row {
  display: inline-flex;
}

.col {
  margin-left: 10px;
}

.text-desc {
  background-color: #EFEFEF;
  padding-left: 100px;
}

header {
  background-color: #E5E5E5;
  margin-top: 0;
  border-bottom: #F4F4F4 1px solid;
}

nav {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  background-color: #EFEFEF;
  border-left: 3px #F4F4F4 solid;
  border-right: 3px #F4F4F4 solid;
}

.spisok {
  width: 100%;
}
.spisok ul {
  display: inline-flex;
  list-style-type: none;
  position: relative;
  z-index: 99;
}
.spisok li {
  font-size: 20px;
  margin-left: 100px;
}
.spisok a {
  color: black;
  text-decoration: none;
}
.spisok a:hover {
  text-decoration: underline black;
}

.text-desc {
  padding-top: 100px;
  border-left: 3px #F4F4F4 solid;
  border-right: 3px #F4F4F4 solid;
  position: relative;
  padding-bottom: 250px;
}
.text-desc h3 {
  font-size: 66px;
  margin: 0;
}
.text-desc h4 {
  font-size: 71px;
  color: #B6011A;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 0;
}
.text-desc p {
  width: 30%;
  font-size: 16px;
  line-height: 154%;
}

.product-desc {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.product-desc .price p {
  font-size: 53px;
}
.product-desc .btn button a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

.images .just-do {
  position: absolute;
  top: -130px;
  right: 600px;
  z-index: 1;
}
.images .nike-first {
  position: absolute;
  top: -130px;
  right: 0px;
  z-index: 2;
}
.images .nike-second {
  position: absolute;
  top: -130px;
  right: 0px;
  z-index: 3;
}

@media (max-width: 1650px) {
  .images .just-do {
    right: 30%;
  }
  .images .nike-first {
    width: 70%;
  }
  .images .nike-second {
    width: 70%;
  }

  .text-desc {
    padding-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  .images .just-do {
    right: 30%;
  }
  .images .nike-first {
    visibility: hidden;
  }
  .images .nike-second {
    top: 80px;
  }

  .product-desc {
    width: 35%;
  }
}
@media (max-width: 1050px) {
  .images .just-do {
    right: 20%;
  }
  .images .nike-first {
    visibility: hidden;
  }
  .images .nike-second {
    top: 190px;
  }

  .product-desc {
    width: 50%;
  }

  .spisok ul {
    width: 40%;
  }
  .spisok li {
    font-size: 20px;
    margin-left: 30%;
  }
}
@media (max-width: 768px) {
  .text-desc {
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-desc p {
    width: 45%;
  }

  .product-desc {
    width: 100%;
  }

  nav {
    justify-content: center;
    padding-left: 0;
  }
  nav img {
    visibility: hidden;
  }

  .menu {
    padding-left: 0;
  }
  .menu li {
    margin-left: 0;
    margin-right: 30%;
  }
}
@media (max-width: 576px) {
  .nike-second {
    top: 70px !important;
  }

  .text-desc p {
    width: 75%;
  }
}

/*# sourceMappingURL=all.css.map */
